@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Lato:wght@700&family=Open+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 700; 
}